section#About{
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 960px;
}
section#About .wrap{

  justify-content: center;
  align-items: center;
  column-gap: 150px;
  background-color: rgba(255,255,255,0.8);
  height: 90%;
  position: relative;
  border-radius: 30px;
}
section#About .wrap .me{
}
section#About .wrap .me h2{
  color: #282828;
  font-size: 30px;
  position: absolute;
  right: 30px;
  top: 30px;
  font-family: 'Keania One', sans-serif;
}

section#About .wrap .me img{
  width: 460px;
  height: 650px;
  /*! border-radius: 50%; */
  background-color: #000;
  background-image: url(../img/about/ai_me.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
section#About .wrap .me p{

  font-size: 35px;
  font-family: Chakra Petch;
  font-weight: 700;
  color: #15184b;
  line-height: 2;
}

section#About .wrap .main1{

}
section#About .wrap .main1 h5{
  font-size: 25px;
  margin-bottom: 10px;
  font-family: 'Keania One', sans-serif;
  color: #2e2e2e;
}
section#About .wrap .main1 h3{
  color: #2e2e2e;
  text-transform: capitalize;
  font-family: 'Keania One', sans-serif;
  font-size: 60px;
}
section#About .wrap .main1 h3 span{

  color: #4c44a1;
}

section#About .wrap .main1 .list{
  margin-top: 20px;
}
section#About .wrap .main1 .list li{
  
  font-size: 15px;
  padding-bottom: 15px;
  box-sizing: border-box;
  color: #2e2e2e;
}
section#About .wrap .main1 .list li h4{

  padding-bottom: 15px;
  box-sizing: border-box;
}
section#About .wrap .main1 .list li h4::before{
  content: "";
  border-left: 3px solid #4c44a1;
  padding-right: 5px;
  display: inline-block;
  height: 16px;
  box-sizing: border-box;
}
section#About .wrap .main1 .list li>p{
  display: flex;
  gap: 5px;
  padding-left: 10px;
  box-sizing: border-box;
  line-height: 1.5;
}
section#About .wrap .main1 .list li p span{
  
  text-align: center;
  line-height: 1.8;
}
section#About .wrap .main1 .list li p span:nth-child(1){
  
  width: 130px;
  height: 30px;
  border-radius: 30px;
  border: solid 1px #2e2e2e;
}
section#About .wrap .main1 .list li p span:nth-child(2){
  
  width: 130px;
  height: 30px;
  display: block;
  border-radius: 30px;
  border: solid 1px #333;
}
section#About .wrap .main1 .list li p span:nth-child(3){
  
  width: 140px;
  height: 30px;
  display: block;
  border-radius: 30px;
  border: solid 1px #333;
}
section#About .wrap .main1 .skill{

}
section#About .wrap .main1 .skill h4{
  
  margin-bottom: 10px;
}
section#About .wrap .main1 .skill h4::before{
  content: "";
  border-left: 3px solid #4c44a1;
  padding-right: 5px;
  display: inline-block;
  height: 16px;
  box-sizing: border-box;
}
section#About .wrap .main1 .skill ul{
  
  height: 100px;
  align-items: center;
  justify-content: left;
  gap: 50px;
}
section#About .wrap .main1 .skill ul li{

  text-align: center;
}

section#About .wrap .main1 .skill ul li::before{
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  width: 80px;
  height: 60px;
  display: block;
  font-size: 0px;
  margin-bottom: 5px;
  background-position-x: center;
}
section#About .wrap .main1 .skill ul li:nth-child(1)::before{
  background-image: url(../img/about/ps_logo.png);
}

section#About .wrap .main1 .skill ul li:nth-child(2)::before{
  background-image: url(../img/about/ai_logo.png);
}

section#About .wrap .main1 .skill ul li:nth-child(3)::before{
  background-image: url(../img/about/html5_logo.png);
}

section#About .wrap .main1 .skill ul li:nth-child(4)::before{
  background-image: url(../img/about/css3_logo.png);
}