body{
    background-image: url(../img/title_body.jpg);
    background-repeat: no-repeat;
    
    background-color: red;
}
main{

}
.wrap{
    width: 1440px;
    margin: 0 auto;
}
.padding50{
    padding: 50px;
}
.paddingT50{
    padding-top: 50px;
}
.paddingR50{
    padding-right: 50px;
}
.paddingL50{
    padding-left: 50px;
}
.paddingB50{
    padding-bottom: 50px;
}
.h1{
    font-size: 64px;
}
.h2{
    font-size: 54px;
}
.h3{
    font-size: 44px;
}
.h4{
    font-size: 34px;
}
.h5{
    font-size: 24px;
}
.h6{
    font-size: 20px;
}
.p{
    font-size: 16px;
    color: #5e5e5e;
}
/* flex */
.flex{
    display: flex;
}
.between{
    justify-content: space-between;
}
.center{
    justify-content: center;
}
/* 블럭, 인라인 */
.block{
  display: block; 
}
.hide{
  display: none;
}