section#contact{
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../img/contact/title_bg_02.jpg);
  width: 100%;
  position: relative;
}
section#contact .wrap{

  color: white;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 600px;
  background-color: rgba(21,11,36,0.8);
  justify-content: center;
  position: absolute;
  right: calc(0vw + 480px);
  border-radius: 10px;
}
section#contact .wrap h2{

  color: #fff;
  font-family: 'Keania One', sans-serif;
  font-size: 60px;
  text-transform: capitalize;
  text-align: center;
}
section#contact .wrap ul{

  color: white;
  width: 200px;
  margin: 40px auto 0 auto;
  height: 45%;
}
section#contact .wrap ul li:not(:first-child){
  margin-top: 10px;
}
section#contact .wrap ul li h4{
  
}
section#contact .wrap ul li h4::before{
  content: "";
  border-left: 3px solid #ffef00;
  padding-right: 5px;
  display: inline-block;
  height: 16px;
}
section#contact .wrap ul li p {

  line-height: 3;
  padding-left: 5px;
  display: flex;
  font-weight: 300;
}

section#contact .wrap ul li a{
  color: white;
  line-height: 7;
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

section#contact .wrap ul li p a:nth-child(1){
 
  background-image: url(../img/contact/blog.png);
}
section#contact .wrap ul li p a:nth-child(2){
 
  background-image: url(../img/contact/insta.png);
  transform: translateX(40px);
}




