section#contact{

  height: 100vh;
}
section#contact .wrap{

  color: white;
}
section#contact .wrap h2{

}
section#contact .wrap ul{

  color: white;
}
section#contact .wrap ul li{

}
section#contact .wrap ul li a{

  color: white;
}