/* 
body{
   font-family: 'Noto Sans KR', sans-serif;
   font-weight: 200,300,400,500,600,700,800,900;
}  */
body{
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Cabin', sans-serif;
    font-family: 'Dongle', sans-serif;
    font-family: 'Exo 2', sans-serif;    
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Keania One', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}