header{
   /* 넓이지정 */
   /* 중앙정렬 */
  height: 90px;
  width: 100%;
  position: fixed;
  z-index: 2;
}
header .wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 100%;
  animation-name: logoani;
  transition: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 1s;
  opacity: 0;
  
  
}
@keyframes logoani{
  0%{
    
    width: 0px;
    
  }
  100%{
    
    opacity: 1;    
  }
}
header .wrap h1{

}
header .wrap h1 a{
  font-size: 0;
  width: 100px;
  height: 40px;
  background-image: url(../img/header/logo.png);
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}
header .wrap h1 a:hover{
  
  background-image: url(../img/header/logo-hover.png);
}
header .wrap>a{  
  font-size: 0;
  background-image: url(../img/header/menu_.svg);
  width: 40px;
  height: 40px;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
header .nav{
  width: 300px;
  height: 400px;
  position: absolute;
  right: calc((100vw - 2550px) / 2);
  top: calc(60px / 2);
  background-color: rgb(255, 255, 255);
  /*! display: flex; */
  justify-content: space-between;
  align-items: center;
  transition: 1s;
  opacity: 0;
  border-radius: 20px;
}
header .nav ul{

  width: 100%;
  height: 100%;
}
header .nav ul li{
  
  width: 100%;
  height: 100px;
}
header .nav ul li a{
  
  line-height: 6.5;
  display: block;
  position: relative;
  padding: 0 30px;
}
header .nav ul li:nth-child(1){
  
}
header .nav ul li:nth-child(2){
  
}
header .nav ul li:nth-child(3){
  
}
header .nav ul li:nth-child(4){
  
}
header .nav ul li:not(:last-of-type){
  
  border-bottom: 1px solid #9b9b9b;
}

der .nav ul li a{
  
  display: block;
  line-height: 6.5;
}
header .nav ul li:nth-child(1) a{
  
}
header .nav ul li:nth-child(2) a{
  
}
header .nav ul li:nth-child(3) a{
  
}
header .nav ul li:nth-child(4) a{
  
}
header .nav ul li:nth-child(1) a:hover{
  color: #4c44a1;
  font-weight: 500;
}
header .nav ul li:nth-child(2) a:hover{
  color: #4c44a1;
  font-weight: 500;
}
header .nav ul li:nth-child(3) a:hover{
  color: #4c44a1;
  font-weight: 500;
}
header .nav ul li:nth-child(4) a:hover{
  color: #4c44a1;
  font-weight: 500;
}


header .nav ul li a::after{
  content: "";
  width: 10px;
  height: 10px;
  border: 2px solid black;
  display: inline-block;
  border-top: none;
  border-left: none;
  transform: rotate(45deg);
  position: absolute;
  right: 0;
  top: 45px;
  margin-right: 30px;
}
header .nav span{
  
  display: block;
  width: 14px;
  height: 14px;
  font-size: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url(../img/header/x.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
  cursor: pointer;
}
.show{
  
  right: calc((100vw - 1470px) / 2) !important;
  opacity: 1 !important;
}
