section#PortFolio{
  height: 100vh;
  background-color: rgba(255,255,255,0.8);
  min-height: 800px;
  background-image: url(../img/portfolio/bg-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
section#PortFolio .wrap{
  text-align: center;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section#PortFolio .wrap h3{
   
  color: #fff;
  font-family: 'Keania One', sans-serif;
  font-size: 60px;
  text-transform: capitalize;
}

section#PortFolio .wrap ul{

  width: 1300px;
  margin-top: 100px;
  /*! height: 45%; */
}
section#PortFolio .wrap ul.pfSlide .slick-track{
  
}
section#PortFolio .wrap ul.pfSlide .slick-track li{
  

  height: 45%;

}
section#PortFolio .wrap ul.pfSlide .slick-track{
  
}
section#PortFolio .wrap ul.pfSlide .slick-track li{
  
}

section#PortFolio .wrap ul li{
  text-align: left;
/*! height: 300px; */
  
border-radius: 12px;
  background-size: cover;
  background-repeat: no-repeat;

}  
section#PortFolio .wrap ul li p{
  
  color: white;
  padding: 25px 45px;
}
.slick-dots li button{
  
}
.slick-dots li button::before{
  
  color: white !important;
}
.slick-dots li.slick-active button::before{
  
  transition: 0.5s;
  transform: scale(1.5);
}
section#PortFolio .wrap ul li:nth-child(1){
  
}

section#PortFolio .wrap ul li:nth-child(2){
  
}
section#PortFolio .wrap ul li:nth-child(3){
  
}
section#PortFolio .wrap ul li:nth-child(4){
  
  display: none;
}
section#PortFolio .wrap ul li:nth-child(5){
  
  display: none;
}
section#PortFolio .wrap ul li:nth-child(6){
  
  display: none;
}

section#PortFolio .wrap ul li a{
  display: block;
  /*! transition: 0.5s; */
  background-size: cover;
  background-repeat: no-repeat;
  width: 400px;
  height: 300px;
  border-radius: 20px;
}
section#PortFolio .wrap ul li:nth-child(1) a{
}

section#PortFolio .wrap ul li:nth-child(2) a{
  
}
section#PortFolio .wrap ul li:nth-child(3) a{
  
}

section#PortFolio .wrap ul li a img{
  
  object-fit: cover;
  width: 100%;
  height: 300px;
  border-radius: 20px;
}
section#PortFolio .wrap ul li:nth-child(1) a img:hover{
  
}

section#PortFolio .wrap ul li a>span{
  color: white;
  width: 100%;
  height: 100%;
  display: inline-block;
  text-align: center;
  line-height: 17;
  font-size: 0px;
  transition: 0.5s;
}

section#PortFolio .wrap ul li p{
  box-sizing: border-box;
  line-height: 1.5;
  padding: 25px 80px;
  color: #929292;
}
section#PortFolio .wrap ul li p strong{
  
  color: #7f7f7f;
}
section#PortFolio .wrap ul li p span{
  
  margin-bottom: 10px;
  color: #fff;
}
.slick-slide img{
  
}