section#PortFolio{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255,255,255,0.8);
}
section#PortFolio .wrap{
  color: #2e2e2e;
  font-family: 'Keania One', sans-serif;
  font-size: 60px;
  text-transform: capitalize;
  text-align: center;
}
section#PortFolio .wrap h3{
   
}

section#PortFolio .wrap ul{

}

section#PortFolio .wrap ul li{

  width: 400px;
  height: 400px;
  display: block;
}
section#PortFolio .wrap ul li a{

  background-color: red;
  width: 30px;
  height: 30px;
  display: block;
}
section#PortFolio .wrap ul li p{
   
}