section#Skill{

  background-color: #e0e3d3;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section#Skill .wrap{

}
section#Skill .wrap h2{

  color: #525547;
}
section#Skill .wrap p{

  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
}
section#Skill .wrap ul{
    
  color: #5e5e5e;
  font-size: 20px;
  font-weight: 400;
  justify-content: center;
  gap: 50px;
  margin-top: 30px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 30px;
  height: 220px;
  align-items: center;
}
section#Skill .wrap ul li{
    
  line-height: 15px;
  content: "";
  width: 100px;
  height: 100px;
  display: block;
  margin-bottom: 15px;
  text-align: center;
}

section#Skill .wrap ul li::before{
  content: "";
  width: 100px;
  height: 100px;
  display: block;
  /*! background-color: #cccc; */
  /*! border-radius: 50%; */
  margin-bottom: 10px;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}


section#Skill .wrap ul li:nth-child(1)::before{
  background-image: url(../img/html.png);
}
section#Skill .wrap ul li:nth-child(2)::before{
  background-image: url(../img/css.png);
}
section#Skill .wrap ul li:nth-child(3)::before{
  background-image: url(../img/jq.png);
}
section#Skill .wrap ul li:nth-child(4)::before{
  background-image: url(../img/js.png);
}
section#Skill .wrap ul li:nth-child(5)::before{
  background-image: url(../img/zen_1.png);
}
section#Skill .wrap ul li:nth-child(6)::before{
  background-image: url(../img/sass_1.png);
}
section#Skill .wrap ul li:nth-child(7)::before{
  background-image: url(../img/ps_1.png);
}
section#Skill .wrap ul li:nth-child(8)::before{
  background-image: url(../img/ai.png);
}












