/* 타이틀 영역 */
div#title{
   height: 100vh;
   min-height: 600px;
 }
 div#title div.wrap{ /*하위선택자*/
   display: flex;
   flex-direction: column;
   max-width: 100%;
   padding-left: 150px;
   box-sizing: border-box;
   justify-content: center;
   height: 90%;
 }
 div#title .wrap h2{ /*하위선택자*/
  color: white;
  text-shadow: 3px 3px 3px rgb(102, 102, 102);
  font-weight: 300;
  font-size: 35px;
  animation-name: font01;
  animation-duration: 1.5s;
  
  font-family: 'Keania One', sans-serif;
  width: fit-content;
  line-height: 2;
 }

@keyframes font01{
  0%{
    opacity: 0;
    transform: translateY(-80%);
  }
  100%{
    
  }
}
 div#title .wrap h2>span{ /*하위선택자*/

  font-size: 110px;
  font-weight: 800;
 }
div#title .wrap h2>span:nth-child(1){
  
}

div#title .wrap h2>span:nth-child(2){
  
}

 div#title .wrap ul{
  column-gap: 55px;
  /*! transform: translateY(80px); */
  animation-name: font02;
  animation-duration: 1.5s;
  animation-delay: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
  width: fit-content;
  margin-top: 50px;
}

@keyframes font02{
  0%{
    opacity: 0;
    transform: translateY(-80%);
  }
  100%{
    opacity: 1;
     
  }
}

 div#title .wrap ul li{
  width: 140px;
  height: 35px;
  display: block;
  border: 1px solid #eee;
  text-align: center;
  box-shadow: 1px 1px 0px rgb(255, 255, 255);
  transition: 0.5s;
 }
 div#title .wrap ul li:hover{
  background-color: #4e59b5;
  
 }
 div#title .wrap ul li a{

  color: white;
  font-size: 20px;
  font-weight: 300;
  text-transform: capitalize;
  display: block;
  line-height: 1.7;
  height: 100%;
  font-family: 'Keania One', sans-serif;
 }
div#title .wrap ul li:nth-child(1)>a{
  
}
div#title .wrap ul li:nth-child(2) a{
  
}